.footer {
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0px;
  background: #4e4e4e;
}
.buttonBackForward {
  margin: 10px;
}
.buttonsPages {
  padding-top: 10px;
  button {
    margin-left: 2px;
    padding: 3px;
  }
}
