<app-header
(onFilterShow) = "filterShow()"
(onRegisterShow)="register($event)"
(onSearch)="mainCall()"
(onCloseFilter)="closeFilter()"
></app-header>
<app-filters *ngIf="filter"
(onSort)="mainCall()"
></app-filters>
<div class="content">
  <app-item [item] = "pageArr"
  (onAfterSubmit)="mainCall()"
   (onFormShow)="formCall($event)"
  ></app-item>
</div>
<app-buttons
  *ngIf="count" [count1]="count"
  (onPages)="callPages($event)"
  (onPage)="callPage($event)"
>
</app-buttons>
<app-register
*ngIf="registerShow"
(onRegisterClose)="register($event)"
></app-register>
<app-form *ngIf="formShow"
          [values]="formValues"
          (onFormClose)="formCallClose($event)"
>
</app-form>
