form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 10;
  color: white;
  border: 2px solid white;
}
.formInput {
  margin: 120px auto 80px auto;
  padding: 15px;
  width: 440px;
  background-color: #0000bf;
  border-radius: 5px;
  input {
    width: 100%;
  }
  button {
    margin-top: 15px;
  }
  button:nth-child(6) {
    margin-left: 12px;
  }
}

@media (max-width: 768px) {
  form {
    background-color: #0000bf;
  }
}
@media (min-width: 768px) {
  >form {
    background-color: #4e4e4e;
    opacity: 1;
  }
}
